<?xml version="1.0"?>

<launch>

  <arg name="robot_namespace" default="$(optenv KINOVA_ARM m1n6s200)"/>

  <group ns="$(arg robot_namespace)">
    <include file="$(find flexbe_app)/launch/flexbe_ocs.launch"/>

    <include file="$(find flexbe_onboard)/launch/behavior_onboard.launch">
      <arg name="behaviors_package" value="chris_kinova_flexible_manipulation" />
    </include>

  </group>

</launch>
